<% include ../partials/header.html %>
<% include ../partials/nav.html %>
<h1>Contact Us!</h1>
<p>first contact us then talk!!!</p>
<form id="contact-form" method="POST" action="/contact">
	<label for="who">Enter your Name:</label>
	<input type="text" name="name" placeholder="Name" required="" /><br>
	<label for="school">Enter your School:</label>
	<input type="text" name="schoolname" placeholder="School Name" required="" /><br>
	<label for="email">Enter your Email Id:</label>
	<input type="text" name="email" placeholder="Email" required="" /><br>
	<input type="submit" name="submit" value="Submit" />
</form>
<% include ../partials/footer.html %>